*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
    width: 100vw;
    height: 8vh;
    font-size: 2.2em;
}

.Card{
    background-color: red;
    border: 3px solid red;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    width: 40vw;
    display: flex;
    flex-direction: column;
}

.Title{
    padding: 5px 0px;
    display: flex;
    justify-content: center;
}

.Content{
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    height: 100%;
    padding: 20px;
    margin: 0px;
    height: 100%;
}

ul{
    list-style: none;
}